# .gitattributes overrides config option core.autocrlf

# disable all text files from being normalized; end of line conversion will be retained
#* -text
# All text files ,enable end of line coversion to LF \n U+00A0
* text eol=lf

# Mark binary files
*.7z binary
*.chm binary
*.pdf binary
*.data binary
*.db  binary
*.dll binary
*.exe binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.nupkg binary
*.pack binary
*.png binary
*.rar binary
*.svgz binary
*.tar binary
*.gz binary
*.gzip binary
*.bzip2 binary
*.zip binary

# Mark specific files to use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf